.checkbox label {
    margin-left: 20px;
}

.jumbotron {
  background-image: url('/sgm/web/images/LogoAlcaldia.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

.cflex {
  display:flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.form-group {
  margin-bottom: 5px;
  margin-top: 5px;
}

.tit2 {
  font-weight: bold;
  text-align: center;
}

.txtg {
  font-size: 16px;
  text-align: justify;
}

@media only screen and (max-width: 1199px){
  .btn-primary {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

.tablac {
  margin-top: 10px;
  margin-bottom: 0px;
}

.tablac caption{
  color: #333;
  font-weight: bold;
}

input[type="radio"][name="gen_familiar"] {
  display: inline;
}

.form-group label{
  display: block;
}
