p {
  font-family: Arial;
}
.centrado {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.titular {
  font-weight: bold;
  font-size: 33px;
  padding: 0px;
}

.imgcab {
  width: 30mm;
  margin: 0;
}

.clalcaldia {
  position: absolute;
  left: 26;
  top: 25;
}

.cescudo {
  position: absolute;
  right: 26;
  top: 38;
}

#finforl {
  position: absolute;
  bottom: 20;
  left: 40;
}

#fjrfl {
  position: absolute;
  bottom: 20;
  right: 40;
}

#finfort {
  position: absolute;
  bottom: 18;
  left: 42;
}

#fjrft {
  position: absolute;
  bottom: 18;
  right: 42;
}

.cabecera{
  font-weight: bold;
  font-size: 22px;
}
