p {
  font-family: Arial;
  text-align: justify;
}
.centrado {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.titular {
  font-weight: bold;
  font-size: 33px;
  padding: 0px;
}

.imgcab {
  width: 30mm;
  margin: 0;
}

.clalcaldia {
  position: absolute;
  left: 26;
  top: 25;
}

.cescudo {
  position: absolute;
  right: 26;
  top: 38;
}

.firmal {
  position: absolute;
  bottom: 90;
  font-size: 16px;
}

#finforl {
  left: 100;
}

#fjrfl {
  right: 100;
}

.firmat {
  position: absolute;
  bottom: 70;
  font-size: 16px;
}

#finfort {
  left: 112;
}

#fjrft {
  right: 118;
}

.cabecera{
  font-weight: bold;
  font-size: 16px;
}

.smargen {
  margin-top: 2px;
  margin-bottom: 2px;
}

.firmadm {
  width:220px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
}
